@import "theme";
@import "functions";

body {
  background-color: var(--c-background);
  color: var(--c-text);
  font-family: $font-family;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $font-weight;
  line-height: $line-height;
  text-rendering: optimizelegibility;
  transition: background-color $transition, color $transition;
}

a {
  color: get-color("primary", 1);
  text-decoration: none;
  transition: color $transition;

  &:hover,
  &:active {
    color: get-color("primary", 2);
  }
}

p:not(:last-child) {
  margin-bottom: $gap-smaller;

  &.is-gap-bigger {
    margin-bottom: $gap-small;
  }
}
